html {
	height: 100%;
}

body {
	height:  100%;
	margin:  0;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom right, lightcoral, mediumpurple);
	font-family: 'Klee One', cursive;
}

.name {
	padding: 2px;
	margin:  0px;
}

.mini-header {
	font-size: 24px;
	margin:  5px;
}

.about-me {
	margin:  12px;
}

.grid-container {
	display:  grid;
	grid-template-columns: 50% 50%;
}

.grid-item {
	/*border: solid 8px;*/
	padding:  20px;
	text-align: center;
}

.work {
	font-size: 20px;
}

.hide {
	visibility:  hidden;
	opacity: 0;
	transition:  visibility 0s, opacity 0.7s linear;
}

.work:hover + p {
	visibility:  visible;
	color:  #d9fae2;
	text-align: center;
	opacity: 1;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.social {
	display: inline-block;
}

.established{
	text-align: right;
	font-size: 14px;
	right:  0;
	/*display: inline;*/
}

/*.arei {
	background-image: url('./images/crec-logo.jpeg');
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 150px;
	/*background-size: cover;
}*/

.about {
	margin-top:  60px;
}

.learning {
	margin-top: 60px;
}

.projects {
	margin-top: 60px;
}

.work-history {
	margin-top: 60px;
}
